---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=5&key=cc931c7def504ea98bc234114211611&q=39.890070,%20-104.790330
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 11/17/2021 15:12:57
      Cdn-Edgestorageid:
      - '616'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 20277220524f4f2b925cff38c2f09288
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Eno","region":"Colorado","country":"United States
        of America","lat":39.89,"lon":-104.79,"tz_id":"America/Denver","localtime_epoch":1637187177,"localtime":"2021-11-17
        15:12"},"current":{"last_updated_epoch":1637182800,"last_updated":"2021-11-17
        14:00","temp_c":3.0,"temp_f":37.4,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":0.0,"wind_kph":0.0,"wind_degree":0,"wind_dir":"N","pressure_mb":1024.0,"pressure_in":30.23,"precip_mm":0.0,"precip_in":0.0,"humidity":35,"cloud":0,"feelslike_c":0.0,"feelslike_f":32.0,"vis_km":16.0,"vis_miles":9.0,"uv":2.0,"gust_mph":8.1,"gust_kph":13.0},"forecast":{"forecastday":[{"date":"2021-11-17","date_epoch":1637107200,"day":{"maxtemp_c":3.7,"maxtemp_f":38.7,"mintemp_c":-3.2,"mintemp_f":26.2,"avgtemp_c":0.5,"avgtemp_f":32.8,"maxwind_mph":17.2,"maxwind_kph":27.7,"totalprecip_mm":0.0,"totalprecip_in":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":44.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":2.0},"astro":{"sunrise":"06:46
        AM","sunset":"04:41 PM","moonrise":"04:00 PM","moonset":"05:02 AM","moon_phase":"Full
        Moon","moon_illumination":"97"},"hour":[{"time_epoch":1637132400,"time":"2021-11-17
        00:00","temp_c":7.2,"temp_f":45.0,"is_day":0,"condition":{"text":"Partly cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":15.9,"wind_kph":25.6,"wind_degree":33,"wind_dir":"NNE","pressure_mb":1012.0,"pressure_in":29.87,"precip_mm":0.0,"precip_in":0.0,"humidity":48,"cloud":46,"feelslike_c":3.3,"feelslike_f":37.9,"windchill_c":3.3,"windchill_f":37.9,"heatindex_c":7.2,"heatindex_f":45.0,"dewpoint_c":-3.1,"dewpoint_f":26.4,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":25.7,"gust_kph":41.4,"uv":1.0},{"time_epoch":1637136000,"time":"2021-11-17
        01:00","temp_c":4.6,"temp_f":40.3,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":17.2,"wind_kph":27.7,"wind_degree":68,"wind_dir":"ENE","pressure_mb":1015.0,"pressure_in":29.96,"precip_mm":0.0,"precip_in":0.0,"humidity":49,"cloud":9,"feelslike_c":-0.3,"feelslike_f":31.5,"windchill_c":-0.3,"windchill[...]
